.btn-primary {
    background-color: #2a3e87 !important;
    border-color: #233781 !important;
}

.btn-primary:hover {
    background-color: #233781 !important;
    border-color: #1e2a6d !important;
}

.btn-danger {
    background-color: #eb1e25 !important;
    border-color: #fc1c23 !important;
}


.lh-base
{
    font-size: 10px !important;
}

.nav-main-item.open>.nav-main-link-submenu .nav-link.active{
    background-color: #f2bdbfc3 !important;
    border-left: #2a3e87 solid 4px !important;
}

.btn-danger:hover {
    background-color: #fc1c23 !important;
    border-color: #e61a20 !important;
}


.nav-main-link .nav-main-link-icon {
    /* color: #2a3e87 !important ; */
    background: rgb(225, 223, 223) !important;
    padding:  6px !important;
    border-radius: 100% !important;
}

/* Start of text colors */
.text-primary {
    color: #2a3e87 !important;
}

.text-purple{
    color: purple !important;
}

.text-green {
    color: green !important;
}
.text-main {
    color: #2a3e87 !important;
}


.nav-main-heading
{
    color: rgb(171, 179, 186) !important;
}

.nav-main-link.active {
    background: #f2bdbfe3;
    border-left: #2a3e87 solid 8px !important;
    padding-left: 4px !important;
}

.rounded-0 {
    border-radius: 0% !important;
}

.nav-link {
    color: black !important ;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #233781 !important;
    background-color: aliceblue !important;
}


.nav-main-submenu .nav-main-link.active {
    /* color: #2a3e87 !important; */
    margin-top: 4px !important;
    background: #c6bfbfc3 !important;
}

.nav-main-item.open>.nav-main-link-submenu
{
    background-color: #f2bdbfc3 !important;
    border-left: #2a3e87 solid 4px !important;
}
